body {
  font-family: sans-serif;
  color: #666;
  background-color: #ff0000;
  font-size: x-large;
  margin: 1em;
}

h4 {
  margin-bottom: 10px;
}

#todo-form {
  padding: 10px;
  background-color: blue;
}

main {
  display: flex;
}

h4 {
  color: black;
}

label {
  color: black;
}

h1 {
  color: black;
}

ul {
  background-color: aquamarine;
}

#edit {
  background-color: yellow;
}

#complete {
  background-color: green;
}

h3 {
  color: black;
}

h5 {
  color: black;
  margin-top: 0;
  font-size: 1rem;
}

